<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Test</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="upperWrapper">
        <div class="browser">
          <input class="searchBar" placeholder="Search Here..." />
          <div class="lists"></div>
        </div>
        <div class="player">
          <div class="art"></div>
          <div class="info">Info</div>
        </div>
      </div>
      <div class="commandBar">Command Bar</div>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
